---
import Home from "./Home/Home.astro";
import Experience from "./Experience/Experience.astro";
---

<div class="flex flex-col items-center gap-y-48 md:gap-y-72">
  <Home />
  <Experience />
  <div>
    HOLA
  </div>
</div>
