---
import Home from './Home/Home.astro'
import Experience from './Experience/Experience.astro'
import Projects from './Projects/Projects.astro'
import Education from './Education/Education.astro'
import Skills from './Skills/Skills.astro'
---

<div class="flex flex-col items-center mb-10 gap-y-40 md:gap-y-48">
  <Home />
  <Experience />
  <Projects />
  <Education />
  <Skills />
</div>
