---
import { LANGUAGES } from "@/i18n/ui";
import {
  useTranslatedPath,
  getLangFromUrl,
  useTranslations,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

const currentLocaleData = LANGUAGES[lang];

const otherLocales = Object.values(LANGUAGES).filter(
  (locale) => locale.code !== lang
);
---

<div class="relative inline-block pl-6 md:hidden">
  <div>
    <a
      class="flex items-center"
      href={translatePath("/", otherLocales[0].code)}
      aria-label={t('acc.languageButton')}
    >
      <currentLocaleData.flag />
    </a>
  </div>
</div>
