---
import Layout from "@/layouts/Layout.astro"
import Header from '@/components/Header.astro'
import Sections from "@/components/Sections/Sections.astro"
---

<Layout title="Portfolio Santi">
  <main class='theme dark'>
    <div class="min-h-screen flex flex-col just bg-background-light dark:bg-background-dark">
      <Header />
      <Sections />
    </div>
  </main>
</Layout>
