---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import type { EducationData } from "@/types"
import UGR from "/public/images/UGR.png"
import EducationCard from "./EducationCard.astro"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const bachelors: EducationData[] = [
    {
        image: UGR,
        name: "Grado en Ingeniería Informática",
        specialty: "Ingeniería del software",
        university: "Universidad de Granada",
        date: "Septiembre 2018 - Junio 2022",
        honor: "Honor en prácticas de empresa",
        average: 8.0
    }
];
---

<div class="flex w-full flex-col gap-y-10 md:w-[760px] lg:w-[960px]">
    <h1
        class="text-3xl pl-4 md:pl-0 font-semibold uppercase text-headline-light dark:text-headline-dark"
    >
        {t("nav.education")}
    </h1>
    <div class="flex flex-row">
        {
            bachelors.map((bachelor: EducationData, key: number) => (
                <EducationCard bachelorData={bachelor} index={key} />
            ))
        }
    </div>
</div>
