<div
  class:list={[
    'flex rounded-md justify-center items-center gap-x-2',
    Astro.props.paddings,
    Astro.props.colors,
  ]}
  aria-hidden="true"
>
  <slot />
  <span class={Astro.props.classSpan}>{Astro.props.name}</span>
</div>
