---
import type { SoftSkill } from '@/types'

const softSkill = Astro.props.softSkill
---

<div
  class="size-28 rounded-sm border-2 p-1 flex flex-col gap-y-2 items-center justify-center border-tertiary-light dark:border-tertiary-dark"
>
  <softSkill.icon class="size-12" />
  <h5
    class="text-xs font-semibold text-headline-light dark:text-headline-dark text-center"
  >
    {softSkill.skill}
  </h5>
</div>
