---
import Image from "astro/components/Image.astro"
import PhotoSantiago from '/public/images/PhotoSantiago.jpg'
---


<div class="size-40">
  <Image class="rounded-full" src={PhotoSantiago} alt='Santiago Muñoz Castro' loading="eager"/>
</div>
